 <div>

        <div>
            <h2>Diagnostic Report</h2>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <div th:if="${report.hasEffective()}">
                            <div th:if="${report.hasEffectiveDateTimeType()}">
                                <td th:text="${#dates.format(report.getEffectiveDateTimeType().getValue(),'dd MMM YYYY HH:mm')}">Unknown</td>
                            </div>
                            <div th:if="${report.hasEffectivePeriod()}">
                                <td th:text="${#dates.format(report.getEffectivePeriod().getStart(),'dd MMM YYYY HH:mm')}">Unknown</td>
                            </div>
                        </div>
                        <div th:if="${!report.hasEffective()}">
                            <div th:if="${report.hasIssued()}">
                                <td th:text="${#dates.format(report.getIssued(),'dd MMM YYYY HH:mm')}">Unknown</td>
                            </div>
                            <div th:if="${!report.hasIssued()}">
                                <td>No date</td>
                            </div>
                        </div>
                        <td th:text="${report.getCode().getCodingFirstRep().getDisplay()}">No display</td>
                        <td th:text="${report.getCode().getText()}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${not #lists.isEmpty(specimens)}">
                <h3>Specimens</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Collection Date</th>
                        <th>Type</th>
                        <th>Placer Id</th>
                        <th>Filler Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="specimen : ${specimens}">
                        <td th:text="${#dates.format(specimen.getCollection().getCollected().dateTimeValue().getValue(),'dd MMM YYYY')}">Unknown</td>
                        <td th:text="${specimen.getType().getCodingFirstRep().getDisplay()}">No type given</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${report.hasConclusion()}">
                <h3>Conclusion</h3>
                <div th:text="${report.getConclusion()}"></div>
            </div>
        </div>
    </div>
